.timeline{
    position:relative;
    width:100%;

    .labels{
        position: relative;
        width:calc(~"100% - 40px");
        padding:0 20px;
        height:20px;

        .year{
            position: absolute;
            display: inline-block;
            color:#8e6832;
            font:14px/20px 'Frutiger Neue LT W1G Book';

            &.selected{
                font:500 22px/30px 'Frutiger Neue LT W1G';
                color:#e30613;
            }
        }
    }

    .wrap{
        position: relative;
        width:100%;
        line-height:0;
        font-size:0;
        vertical-align: middle;

        .line{
            position: relative;
            display: inline-block;
            width:calc(~"100% - 40px");
            margin:0 11px;
            height:17px;
            // vertical-align: middle;

            .axis{
                position: absolute;
                background-color:#e30613;
                width:100%;
                height:2px;
                top:9px;
            }

            .circle{
                position: absolute;
                display: inline-block;
                height:11px;
                width:11px;
                background-color:white;
                border:3px solid #f1d400;
                border-radius: 100%;
                user-select:none;
                cursor:pointer;
                transition:background-color .3s;

                &.selected,
                &:hover{
                    background-color: #e30613;
                }
            }
        }

        .arrow{
            display: inline-block;
            height:18px;
            width:9px;
            background: no-repeat center;
            background-size: contain;
            opacity:1;
            transition: opacity .3s;
            user-select:none;
            cursor:pointer;

            &.left{
                text-align: left;
                background-image:url("/assets/images/left.svg");
            }

            &.right{
                text-align: right;
                background-image:url("/assets/images/right.svg");
            }

            &.hidden{
                opacity: 0;
            }
        }
    }
}