.year{
    color:#8e6832;
    font:14px/20px 'Frutiger Neue LT W1G Book';

    &.selected{
        font:500 22px/30px 'Frutiger Neue LT W1G';
        color:#e30613;
    }
}

.line{
    width:100%;
    color:#e30613;
    height:2px;
}

.arrow{
    height:14px;
    width:9px;
}

.circle{
    height:15px;
    width:15px;
    background-color:white;
    border:1px solid #f1d400;

    &.selected{
        background-color: #e30613;
    }
}