<div class="slider">
  <div *ngFor="let s of slides" class="slide" [class.hidden]="slides.indexOf(s)!=idx">
    <div class="wrap">
      <div class="column">
        <header>{{s.header | typograf}}</header>
        <div class="subtitle" [innerHTML]="s.subtitle | typograf"></div>
      </div>
      <div class="column">
        <div class="image" [style.background-image]="sanitize(s.image)"></div>
      </div>
    </div>
    <div class="description" [innerHTML]="s.description | typograf"></div>
  </div>
</div>