.header{
    font:normal 26px/24px 'Greta Display Pro';
}

.subtitle{
    font:300 16px/20px 'Greta Display Pro';
}

.sub{
    font:300 italic 16px/20px 'Greta Display Pro';
}

.description{
    font:14px/20px 'Frutiger Neue LT W1G Book';

    span{
        font:bold 17px/20px 'Greta Display Pro';
        color:#e30613;
    }
}

.label{
    font: 14px/20px 'Frutiger Neue LT W1G Book';

    span{
        font:bold 17px/20px 'Greta Display Pro';
        color:#e30613;
    }
}