@deep: ~'/deep/';

.slider{
    position:relative;
    width:100%;
    height:calc(~"100% - 50px");

    .slide{
        position:absolute;
        width:100%;
        height:100%;
        
        .wrap{
            position: relative;
            width:100%;
            height:50%;

            .column{
                width:45%;
                height:100%;
                display: inline-block;

                header{
                    font:normal 26px/24px 'Greta Display Pro';
                }

                .subtitle{
                    font:300 16px/20px 'Greta Display Pro';
                    @{deep} span{
                        font:300 italic 16px/20px 'Greta Display Pro';
                    }
                }

                .image{
                    width:100%;
                    height:100%;
                    background:no-repeat center;
                    background-size:contain;
                }
            }
        }

        .description{
            font:14px/20px 'Frutiger Neue LT W1G Book';

            @{deep} span{
                font:bold 17px/20px 'Greta Display Pro';
                color:#e30613;
            }
        }

        &.hidden{
            display: none;
        }
    }
}