@deep: ~'/deep/';

.slider{
    position:relative;
    width:100%;
    height:calc(~"100% - 58px");
    overflow: hidden;

    .hitzone{
        position: absolute;
        top:0;
        cursor: pointer;
        height:100%;
        width:10%;

        &.left{
            left:0;
        }

        &.right{
            right:0;
        }

        &.disabled{
            pointer-events:none;
            cursor: default;
        }
    }

    .slide{
        position:absolute;
        width:100%;
        height:100%;
        left:0;
        opacity:1;
        transition: left .5s, opacity .3s;
        
        .wrap{
            position: relative;
            width:100%;
            // height:50%;
            height:60%;
            display: flex;
            justify-content: space-between;

            .column{
                height:100%;
                padding-top:20px;

                &:nth-child(1){
                    //max-width:70%;
                    width:420px;
                    height: auto;
                }

                header{
                    padding-bottom:20px;
                    font:normal 26px/24px 'Greta Display Pro';

                    @media(max-width:650px){
                        font-size:22px;
                    }
                }

                .subtitle{
                    font:300 16px/20px 'Greta Display Pro';

                    @{deep} span{
                        font:300 italic 16px/20px 'Greta Display Pro';
                        @media(max-width:650px){
                            font-style:normal;
                        }
                    }
                }

                .image{
                    width:100%;
                    height:190px;
                    text-align: center;
                }

                @media(max-width:650px){
                    width:100%;

                    &:nth-child(2){
                        display: none;
                    }
                }
            }
        }

        .description{
            position: absolute;
            bottom:0;//10px; 
            color: #8e6832;
            font:14px/20px 'Frutiger Neue LT W1G Book';

            @{deep} span{
                font:bold 17px/20px 'Greta Display Pro';
                color:#e30613;
            }

            &.mobile{
                display: none;
            }

            @media(max-width:650px){
                display: none;
                &.mobile{
                    display: block;
                    padding: 1em 0;
                }
            }
        }

        &.prev{
            left:-100%;
            opacity:0;
        }

        &.next{
            left:100%;
            opacity:0;
        }

        &:nth-child(6){
            .wrap{
                .column:first-child{
                    width:475px;
                }

                .column:last-child{
                    padding-top:60px;
                    cursor:pointer;
                }
            }
        }
        
        @media(max-width:650px){
           position: relative;
           height:auto;

           &.next, &.prev{
               position: absolute;
               height:0;
           }

           .wrap{
               height:auto;
           }

           .description{
               position: relative;
           }
        }
    }

    @media(max-width:650px){
        height:auto;
    }
}